@import url('/src/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply: font-display text-title-large;
  }
  h2 {
    @apply: font-display text-title-1;
  }
  h3 {
    @apply: font-display text-title-2;
  }
  h4 {
    @apply: font-display text-title-3;
  }
  h5 {
    @apply: font-text text-headline;
  }

  /* Regular font styles */
  .regular-caption-1 {
    @apply: font-text text-caption1 font-regular;
  }
  .regular-caption-2 {
    @apply: font-text text-caption2 font-regular;
  }
  .regular-footnote {
    @apply: font-text text-footnote font-regular;
  }
  .regular-subheadline {
    @apply: font-text text-subheadline font-regular;
  }
  .regular-callout {
    @apply: font-text text-callout font-regular;
  }
  .regular-body {
    @apply: font-text text-body font-regular;
  }

  /* Bold font styles */
  .bold-caption-1 {
    @apply: font-text text-caption1 font-semibold;
  }
  .bold-caption-2 {
    @apply: font-text text-caption2 font-medium;
  }
  .bold-footnote {
    @apply: font-text text-footnote font-semibold;
  }
  .bold-subheadline {
    @apply: font-text text-subheadline font-semibold;
  }
  .bold-callout {
    @apply: font-text text-callout font-semibold;
  }
  .bold-body {
    @apply: font-text text-body font-semibold;
  }
}
