@import url('/src/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Regular font styles */
  .regular-caption-1 {
    font-family: "SF-Pro-Text", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }
  .regular-caption-2 {
    font-family: "SF-Pro-Text", sans-serif;
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
  }
  .regular-footnote {
    font-family: "SF-Pro-Text", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
  }
  .regular-subheadline {
    font-family: "SF-Pro-Text", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
  }
  .regular-callout {
    font-family: "SF-Pro-Text", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
  }
  .regular-body {
    font-family: "SF-Pro-Text", sans-serif;
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
  }
  .regular-headline {
    font-family: "SF-Pro-Text", sans-serif;
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
  }
  .regular-title-3 {
    font-family: "SF-Pro-Display", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
  }
  .regular-title-2 {
    font-family: "SF-Pro-Display", sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
  }
  .regular-title-1 {
    font-family: "SF-Pro-Display", sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: 400;
  }
  .regular-large-title {
    font-family: "SF-Pro-Display", sans-serif;
    font-size: 34px;
    line-height: 41px;
    font-weight: 400;
  }

  /* Bold font styles */
  .bold-caption-1 {
    font-family: "SF-Pro-Text", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
  }
  .bold-caption-2 {
    font-family: "SF-Pro-Text", sans-serif;
    font-size: 11px;
    line-height: 13px;
    font-weight: 500;
  }
  .bold-footnote {
    font-family: "SF-Pro-Text", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
  }
  .bold-subheadline {
    font-family: "SF-Pro-Text", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
  }
  .bold-callout {
    font-family: "SF-Pro-Text", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
  }
  .bold-body {
    font-family: "SF-Pro-Text", sans-serif;
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
  }
  .bold-headline {
    font-family: "SF-Pro-Text", sans-serif;
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
  }
  .bold-title-3 {
    font-family: "SF-Pro-Display", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }
  .bold-title-2 {
    font-family: "SF-Pro-Display", sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
  }
  .bold-title-1 {
    font-family: "SF-Pro-Display", sans-serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
  }
  .bold-large-title {
    font-family: "SF-Pro-Display", sans-serif;
    font-size: 34px;
    line-height: 41px;
    font-weight: 600;
  }
}
